{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person" class="profile_box">

  <div class="author__avatar">
    <img src="{{ author.avatar }}" class="author__avatar" alt="{{ author.name_en }}">
  </div>

  <div class="author__content">
    <h3 class="author__name" style="text-align: center;">{{ author.name_en }}</h3>
    <h3 class="author__name" style="text-align: center;">{{ author.name_zh }}</h3>
    {% if author.bio %}<p class="author__bio" style="text-align: center;">{{ author.bio }}</p>{% endif %}
  </div>

  <div class="author__urls-wrapper">
    <ul class="author__urls social-icons">
      {% if author.googlescholar %}
        <li><a href="{{ author.googlescholar }}"><i class="fas fa-fw fa-graduation-cap"></i> Google Scholar</a></li>
      {% endif %}
      {% if author.github %}
        <li><a href="https://github.com/{{ author.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i> Github</a></li>
      {% endif %}
      {% if author.email %}
        <li><i class="fa-solid fa-fw fa-envelope"></i> {{ author.email }} </li>
      {% endif %}
      {% if author.phone %}
        <li><i class="fa-solid fa-fw fa-phone"></i> {{ author.phone }} </li>
      {% endif %}
      {% if author.address %}
        <p><i class="fa-solid fa-fw fa-location-dot"></i> {{ author.address }} </p>
      {% endif %}
    </ul>
      <div class="author__urls_sm">
      {% if author.googlescholar %}
        <li><a href="{{ author.googlescholar }}"><i class="fas fa-fw fa-graduation-cap"></i> Google Scholar</a></li>
      {% endif %}
      {% if author.github %}
        <li><a href="https://github.com/{{ author.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i> Github</a></li>
      {% endif %}
      {% if author.email %}
        <li><i class="fa-solid fa-fw fa-envelope"></i> {{ author.email }} </li>
      {% endif %}
      {% if author.phone %}
        <li><i class="fa-solid fa-fw fa-phone"></i> {{ author.phone }} </li>
      {% endif %}
      {% if author.address %}
        <p><i class="fa-solid fa-fw fa-location-dot"></i> {{ author.address }} </p>
      {% endif %}
    </div>
  </div>
</div>
